header{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 1px;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul{
        display: flex;
        gap: 10px;   
        justify-content: space-between;
        align-items: center;
    }
    li{
        list-style: none;
        cursor: pointer;
        color: #fff;
        &:hover{
            color: #497848;
        }
    }
}

